body{
color:black;
background-color:rgba(255,255,255,0.6);
background-blend-mode:lighten;
background-size: cover;
font-family: Arial;
}
h1{
font-family: Helvetica;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.nav-item-login > li{
  padding-left:70px;
}
.carousel-item{
  width: 900px;
  height: auto;
}
