
.navbar{
    background:transparent !important;
}
.navbar-inner {
    background:transparent !important;
}
.content-wrapper{
z-index: 99 !important;
display: flex !important;
width: 100vw !important;
height: 100vh !important;
position: relative !important;
}
 .carousel-item{
    height: 100vh;
    width: 100vw;
     z-index: -2;
    object-fit: cover;
}
.carousel-item img{
    height: 100vh !important; 
    width: 100vw !important;
    z-index: -2 !important;
    object-fit: cover !important;
}



  
