.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.nav-item-login > li{
  padding-left:70px;
}
.carousel-item img {
  height: 75vh;
  width: 100vw;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 4000px){
.carousel-caption h5{
justify-content: center;
  top: 50%;
  font-size: 100em;
}
}
@media (max-width: 980px){
  .carousel-caption h5{
    font-color: black;
    justify-content: center;
  top: 50%;
  font-size: 50em;
  }
}

