.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.nav-item-login > li{
  padding-left:70px;
}
body{
  color: rgb(28, 8, 51);
}
.carousel-image {
            width:2000px;
            height:2000px;
        }
.carousel-caption {
  position: relative;
  
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
