.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.nav-item-login > li{
  padding-left:70px;
}
.carousel-image {
            width:2000px;
            height: auto;
        }
.carousel-caption {
  top: 50%;
  justify-content: center;
  color: #FFFFFF
  font-size: large;
  font-weight: bold;
}
